

/*Search Bar*/
.mdl-textfield__input-index {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    height: 30px;
    font-size: 26px;
    color: #111111;
    text-align: center;
}

.mdl-textfield__label-index {
    height: 40px;
    top: 20px;
    font-size: 26px;
    text-align: center;
}


.mdl-card{
    min-height: 45px;
    width: 100%;
    margin-top: 10px;
}

.material-icons-header{
    font-size: 38px;

}

.mdl-layout__header-row .mdl-navigation__link{
    padding: 0 3px;
}

.mdl-data-table td{
    font-size: 15px;
    height: 24px;
    padding: 4px 4px 0;
    vertical-align: inherit;

}

.mdl-data-table tbody tr{
    height: 24px;
}

.material-icons{
    color:grey;
}


.mainContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:600px) {
    .cardContainer {
        margin-top: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        overflow: scroll;
    }

    .cardColumnContainer {
        width: 32%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom: 20px;
    }
}

@media (max-width:599px) {
    .cardContainer {
        margin-top: 20px;
        width: 100%;
        overflow: scroll;
    }

    .cardColumnContainer {
        width: 95%;
        margin:auto;
    }
}

.mdl-card__title-text-tech{
    font-size: 32px;
    margin: auto;
    font-weight: 400;

}

.mdl-card__supporting-text-tech{

    margin: auto;
    font-size: 14px;

}
