<!DOCTYPE html>
<html lang="en">
<head>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/material-design-lite/material.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <link rel="stylesheet" href="bower_components/material-design-lite/material.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-deep_purple.min.css" />
    <link rel="stylesheet" href="css/boris.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation ">
                <a class="mdl-navigation__link material-icons" href="">explore</a>
                <a class="mdl-navigation__link material-icons" href="">favorite</a>
                <a class="mdl-navigation__link material-icons" href="">note_add</a>
                <a class="mdl-navigation__link material-icons" href="">account_circle</a>
            </nav>
        </div>
    </header>

    <div class="mainContainer">
        <!--write stuffs here-->
    </div>
</div>
</body>
</html>